.cancha-form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  .cancel-button {
    color: #f44336; /* Rojo */
  }
  
  .submit-button {
    color: #4caf50; /* Verde */
  }
  
  button.mat-button {
    margin-left: 8px;
  }
  
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #3f51b5; /* Cambiar el color al obtener foco */
  }
  
  .mat-input-element {
    font-size: 16px;
  }
  
  .mat-form-field-label {
    color: #3f51b5; /* Color de la etiqueta */
  }
  