<h2 mat-dialog-title>Agregar Cancha</h2>
<form (ngSubmit)="onSubmit()" #canchaForm="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput required [(ngModel)]="cancha.nombre" name="nombre"> 
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput required type="number" [(ngModel)]="cancha.precio" name="precio">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="cancha.descripcion" name="descripcion"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Latitud</mat-label>
      <input matInput required type="number" [(ngModel)]="cancha.latitud" name="latitud">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Longitud</mat-label>
      <input matInput required type="number" [(ngModel)]="cancha.longitud" name="longitud">
    </mat-form-field>

    Componente de selección de mapa 
    <app-selec-mapa (coordenadasSeleccionadas)="actualizarCoordenadas($event)"></app-selec-mapa>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="button">Cancelar</button>
    <button mat-button type="submit">Agregar</button>
  </mat-dialog-actions>
</form>