/* Estilos generales del formulario */
form {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

/* Estilos de las filas y columnas */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.col {
  flex: 1;
  margin: 0.5rem;
  min-width: 250px; /* Hace que el formulario sea responsivo */
}

/* Estilos de los inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: #007bff; 
  outline: none;
}


.mat-tooltip {
  font-size: 0.9rem;
  background-color: #ff0000;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}


.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}


.password-container {
  position: relative; 
  margin-bottom: 1rem;
}

.password-icon {
  position: relative;
  right: 15px; 
  top: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  color: #007bff;
  z-index: 1; 
}


input[type="password"] {
  padding-right: 40px; 
}
.password-icon:hover {
  color: #0056b3;}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}

button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}


.row.password-container {
  margin-top: 1.5rem;
}

input::placeholder {
  color: #aaa; 
  opacity: 1;
}

@media (max-width: 600px) {
  .btn {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    width: 100%; 
    margin-bottom: 0.5rem;
  }
}
