/* Estilos generales */
.general {
  max-width: 500px; /* Ancho máximo para el formulario */
  margin: 20px auto; /* Centrando el formulario */
  padding: 20px; /* Espaciado interno */
  background: #f9f9f9; /* Color de fondo del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo general para el formulario */
.formulario-flotante {
  width: 100%;
  padding: 10px;
  background: white;
  border-radius: 4px;
  text-align: center;
}

/* Estilo para el contenedor de acciones */
.actions {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 16px;
}

/* Estilo común para botones */
button {
  width: 48%; /* Botones ocupan el 48% del contenedor */
  height: 50px; /* Altura uniforme para botones */
}

/* Estilo para el botón de cancelar */
.cancel-button {
  background: linear-gradient(45deg, #e25353, #950404);
  color: white;
}

/* Estilo para el botón de enviar */
.submit-button {
  background: linear-gradient(45deg, #53e264, #04952d);
  color: white;
}

/* Estilo de notificación */
.notification {
  background-color: #4caf50; /* Verde para éxito */
  color: white;
  padding: 15px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification i {
  font-size: 1.5em;
}

/* Estilo de la barra de progreso */
.progress-bar-container {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #3f51b5;
  animation: progress-animation 3s linear forwards;
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
